[Unit]
Description=Guernica MPV Simple
StartLimitIntervalSec=0

[Service]
Type=simple
ExecStart=/home/tami/guernica/src/services/mpv_simple/start_mpv_simple.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
