[Unit]
Description=Guernica Controller

[Service]
Type=simple
ExecStart=/bin/sh -c "cd /home/tami/guernica; . .venv/bin/activate; exec python src/controller.py conf"
Restart=always
RestartSec=5
StartLimitInterval=0
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
